.container{
    width: 1080px;
    margin: 0 auto;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
.process{
    text-align: center;
    margin-top: 200px;
}
.process-heading{
    text-transform: capitalize;
    font-size: 45px;
    color: #595959;
}
.process-heading-first-word{
    color: #fe8e78;
}
.description{
    color: #595959;
}
.process-cards{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.process-card{
    width: 23%;
    color: white;
    position: relative;
    margin-top: 25px;
    padding: 95px 0 45px;
}
.process-card::before{
    content: "";
    position: absolute;
    width: 64px;
    height: 64px;
    top: 13%;
    bottom: 45%;
    margin-left: -35px;
    background-position: center;
    background-repeat: no-repeat;
}
.card-1{
    background-color: #4fb2f6;
}
.card-2{
    background-color: #c049f9;
}
.card-3{
    background-color: #817eff;
}
.card-4{
    background-color: #f74670;
}
.card-heading{
    font-size: 22px;
    text-transform: capitalize;
    margin: 10px 0;
}
.card-1::before{
    background-image: url(../img/ic-1.png);
}
.card-2::before{
    background-image: url(../img/ic-2.png);
}
.card-3::before{
    background-image: url(../img/ic-3.png);
}
.card-4::before{
    background-image: url(../img/ic-4.png);
}












/* .container{
    width: 1180px;
    margin: 0 auto;
}
.box{
    width: 150px;
    height: 150px;
}
.my-flex-block1{
background-color: red;
width: 150px;
    height: 150px;
}
.my-flex-block2{
    background-color: green;
    width: 120px;
    height: 160px;
}
.my-flex-block3{
    background-color:blue;
    width: 110px;
    height: 120px;
}
.my-flex-block4{
    background-color: lightgreen;
    width: 100px;
    height: 140px;
}
.flex-container{
display: flex;
flex-direction: column;
align-items: flex-start;
} */